.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;

    flex-direction: row;

}

.infoconteiner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: aliceblue;
    height: 400px;
    width: 80%;
    margin-top: 40px;
    margin-left: 50px;
}

.thisfilter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: 200px;
    width: 10%;
    margin-top: 40px;
    margin-left: -200px;

}

.filter{
   border: none;
   background-color: #70D44B;
   color: white;
   padding: 10px;
   border-radius: 8px;
   height: 40px;
   width: 90px;

}

.filter2{
    border: 2px solid #70D44B;
    background-color: white;
    color:#373D43;
    padding-bottom: 2px;
    border-radius: 8px;
    height: 40px;
    width: 90px;
    
 
 }




.filtro {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    margin-top: 30px;
    margin-left: 200px;


}

.geralfiltro {
    background-color: white;
    color: #373D43;
    padding: 8px;
    border: 2px solid #70D44B;
    border-radius: 5px;


}

.operaçãofilter {
    background-color: #70D44B;
    color: aliceblue;
    padding: 8px;
    border-radius: 5px;

}


.manobristafilter {
    background-color: #70D44B;
    color: aliceblue;
    padding: 8px;
    border-radius: 5px;

}

.periodofilter {
    background-color: #70D44B;
    color: aliceblue;
    padding: 8px;
    border-radius: 5px;

}

.ordemfilter {
    background-color: #70D44B;
    color: aliceblue;
    padding: 8px;
    border-radius: 5px;

}







.conteiner1 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 80px;
    margin-top: 20px;



    height: 70px;
    width: 70px;
    padding: 1px;

    background-color: white;
    border-radius: 30px;
    border: 2px solid #70D44B;



}


.perfil {
    height: 60px;
    width: 65px;


}

.bemvindo {
    margin-left: -80px;
    margin-top: 110px;

}

.conteiner2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: initial;

    padding: 5px;
    gap: 8px;

    margin-left: 100px;
    margin-top: 50px;
}

.productivity {
    width: 150px;
    height: 36px;
    left: 372px;
    top: 163px;

    background: #70D44B;
    border-radius: 10px;

    color: aliceblue;

    border: none;

}

.link{
    text-decoration-line: none;
    color: white;
    font-style: normal;

}

.link2{
    text-decoration-line: none;
    color: #373D43;
    font-style: normal;
    

}

.time {
    width: 150px;
    height: 36px;
    left: 372px;
    top: 163px;

    background: white;
    border-radius: 10px;
    border: 2px solid #70D44B;

    color: #373D43;

}

.head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 60px;
    margin-left: 190px;
    gap: 90px;
    float: left;

}


.infoconteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    background-color: #F2F3F7;
    height: 370px;
    width: 100%;

    margin-top: 1px;
    margin-left: -20px;

    

}


.estacionartm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 15px;

    background-color: white;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    height: 220px;
    width: 170px;

    margin-top: 30px;
    margin-left: 30px;

}





.medio{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 24px;
    margin-top: 1px;
    color: #808080;
    margin-left: -100px;


    }


.devolução {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-top: -15px;
}

.input {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 28px;


    display: flex;
    align-items: center;

    color: #2C59BE;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.unidade{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-top: -20px;

}

.ranking{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 10px;
    background-color: #F2F3F7;
    height: 370px;
    width: 100%;

    margin-top: -1px;
    margin-left: -20px;



}

.placeranking{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 15px;

    background-color: white;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    height: 400px;
    width: 800px;

    margin-top: -20px;

    overflow: scroll;
    height: 400px;
    width: 900px;



}

.spaceconteiner{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    padding: 3px;
    height: 70px;
    margin-top: -90px;
    
}

.semana{
    font-size: 20px;
    color: #808080;
    margin-left: 290px;
    margin-top: 22px;
    
}

.orientation{
    display: flex;
    flex-direction: row;
    gap: 58px;
    margin-left: 20px;
    margin-top: 10px;
    

}

.tabelah{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    padding: 15px;
    margin-top: 16px;

}

.linha{
    display: flex;
    flex-direction: row;
    gap: 84px;
    margin-top: 40px;
    margin-left: -500px;
    
}


























